<h1 class="text-center">Grubba-Bite!</h1>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <h2>On your plate...</h2>
  </div>
  <div class="col-md-3">
    <h2>You have eaten...</h2>
  </div>
  <div class="col-md3"></div>
</div>
<div class="row" id="main">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          <li>
            {{this.burger_name}}
            <button class="devour" data-id="{{this.id}}" data-currentDevouredState="{{this.devoured}}">Devour</button>
            <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          <li>
            {{this.burger_name}}
            <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="col-md-4"></div>
<div class="col-md-4">
  <form class="create-burger-form">
    <div class="form-group">
      <input class="center-block" type="text" id="burger" name="burger_name">
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button type="button submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label class="text-center">Order a Burger You Like :)</label>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>